.navbar{
    justify-content: center;
}

.sidenav{
    min-height: 100vh !important;
    position: fixed;
}

label{
    font-weight: 400;
    padding-top: 5px;
    font-size: 20px;
}

input{
    border-radius: 5px;
    border: 1px solid #ccc;
    line-height: 30px;
}